entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: your email
      storage: /acme.json
      httpChallenge:
        entryPoint: web

providers:
  docker:
    exposedByDefault: false

api:
  dashboard: true
  insecure: false

http:
  middlewares:
    strip-element-prefix:
      stripPrefix:
        prefixes:
          - "/element"
    strip-synapse-prefix:
      stripPrefix:
        prefixes:
          - "/synapse"
